@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Volkhov:400italic,700);

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* General Demo Style */
body {
	background:#e8e8e8;
	
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    min-width: 320px;
}
#container{width:100%;height:auto;margin:0 auto;}
a {
	color: #000;
	text-decoration: none;
}

h1, h2, h5 {
	margin: 20px 20px 30px 20px;
	font-size: 56px;
	color: #fff;
	font-family: "ו";
	text-align: center;
	font-weight: 700;
	text-shadow: 1px 1px 3px #e0d1bc;
	color:#848484
}
#top_nav{width:100%;height:42px;margin:44px 0px 75px 0px }
#nav_wrap{width:980px;height:42px;margin:0 auto;text-align:center;}
h1 span, h5 {
	font-size: 18px;
	display: block;
	font-style: italic;
	color: #997f5a;
	font-weight: 400;
	text-shadow: 0px 1px 1px #fff;
}

.wrapper {
	position: relative;
	max-width: 840px;
	width: 100%;
	padding: 0 50px;
	margin: -24px  auto 0  auto;/* -20px looks better */
}

/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	font-family: Cambria, Georgia, serif;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.6);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

/* More examples buttons */

.more {
	position: relative;
	clear: both;
	padding: 20px;
}

.more:before {
	content: "";
	position: absolute;
	background-color: #ddd1b6;
	box-shadow: 0 1px 0 rgba(255,255,255,0.8);
	height: 1px;
	width: 440px;
	left: 50%;
	margin-left: -220px;
	top: -10px;
}

.more ul {
	display: block;
	height: 32px;
	text-align: center;
}

.more ul li {
	display: inline-block;
	line-height: 24px;
}

.more ul li.selected a,
.more ul li.selected a:hover {
	background: #ae997a;
	color: #fff;
	text-shadow: none;
}

.more ul li a {
	text-shadow: 1px 1px 1px #fff;
	color: #555;
	background: #fbf9f5;
	padding: 2px 5px;
	margin: 0 2px;
	line-height: 18px;
	display: inline-block;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.more ul li a:hover {
	background: #8c795d;
	color: #fff;
	text-shadow: none;
}

#nav {
	background:#cacaca; 
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#cacaca), to(#848484)); 
	background:-moz-linear-gradient(top, #cacaca, #848484);
	*background:#848484;
	-webkit-border-radius:4px; 
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0 2px 3px rgba(0,0,0,.3);
	display:inline-block;
	list-style:none;
	margin:0 ;
	overflow:hidden;
	padding:0;
	
	
}
#nav li { border-right:1px solid #808080; -webkit-box-shadow:inset 0 0 0 1px rgba(255,255,255,.1); -moz-box-shadow:inset 0 0 0 1px rgba(255,255,255,.1); float:left; }
#nav li a {
	color:#262626;
	display:block;
	font:16px "Lucida Sans Unicode", "Lucida Grande", sans-serif,"ו";
	height:43px;
	line-height:41px;
	padding:0 50px;
	text-decoration:none;
	text-shadow:0 1px #cecece;
	font-weight: bold;
}
#nav li a:hover { background:#535353!important;background:-webkit-gradient(linear, 0 0, 0 100%, from(#929292), to(#535353)); background:-moz-linear-gradient(top, #929292, #535353); -webkit-box-shadow:inset 0 -10px 20px rgba(0,0,0,.05), inset 0 0 0 1px rgba(255,255,255,.1); -moz-box-shadow:inset 0 -10px 20px rgba(0,0,0,.05), inset 0 0 0 1px rgba(255,255,255,.1); color:#fff; text-shadow:0 -1px #414141; }
#nav li a:active { -webkit-box-shadow:inset 0 -10px 20px rgba(0,0,0,.05), inset 0 2px 5px #363636, inset 0 0 0 1px rgba(255,255,255,.1); -moz-box-shadow:inset 0 -10px 20px rgba(0,0,0,.05), inset 0 2px 5px #363636, inset 0 0 0 1px rgba(255,255,255,.1); }
#nav li .apple { padding:0; }
#nav li .apple:hover { -moz-border-radius-topleft:3px; -moz-border-radius-bottomleft:3px; -webkit-border-top-left-radius:3px; -webkit-border-bottom-left-radius:3px; }
#nav li .apple span { background:url(images/apple.png) center 6px no-repeat; display:block; padding:0; text-indent:-99999em; width:102px; }

h1 { margin-bottom:0; }
.read_article { color:#777; display:block; font-size:12px; margin-bottom:30px; }
